
li {
    font-size: 25px;
}
.clicked-todo {
    text-decoration: underline;
};

body {
  padding: 25px;
  background: rgb(255, 163, 246);
  font-size: 25px
}      
 

.dark-mode {
  background-color: rgb(48, 22, 162);
  font-size: 25px; 
  color: aqua;
  
  
}


 
           

